@model DataService.Infrastructure.Entities.Attendance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerifyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerifyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerifyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerifyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerifyState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
