@model IEnumerable<DataService.Web.Models.Att.AttendanceViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Attendances</h1>

<div class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifyState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifyState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCode)
            </td>
            <td>
                    <div class="d-flex gap-2">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
