@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DataService.Web.Models.Settings.Device

<form class="w-100 d-flex gap-lg-5">
    <div class="w-50">
        <h2>Editw Device</h2>
        <hr />
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Device's IP:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" value="@Model.IP">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Device's Port:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" value="@Model.Port" id="port">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-4 col-form-label">Device's CommKey:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" value="@Model.CommKey" id="commKey">
            </div>
        </div>
    </div>
    <div class="w-50 sheets">
        <div class="d-flex flex-row justify-content-between">
            <h2>Sheets</h2>
            <button type="button" id="add-sheet" class="btn btn-primary">
                Add Sheet
            </button>
        </div>
        <hr />
        @foreach(var sheet in Model.Sheets)
        {
            <div class="sheet w-100 d-flex flex-row gap-5 mb-3">
                <input class="form-control w-25 sheetName" placeholder="Sheet Name" value="@sheet.SheetName" />
                <input class="form-control w-75 documentId" placeholder="Document Id" value="@sheet.DocumentId" />
            </div>
        }

    </div>
</form>
<button type="submit" class="btn btn-primary">Update</button>
