@model IEnumerable<DataService.Infrastructure.Entities.Device>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Port)
            </td>
           
            <td>
                <div class="d-flex flex-row gap-3">
                    <a class="pointer fs-4" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a> 
                    <a class="pointer fs-4" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="delete pointer fs-4" device-id="@item.Id"><i class="bi bi-trash "></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/devices/index.js" asp-append-version="true" type="module"></script>
}

