@model DataService.Web.ViewModel.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<h4>Devices List</h4>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Device</a>
</p>

<table class="table table-hover border-primary">
    <thead>
        <tr>
            <th>
                Device's IP
            </th>
            <th>
                Device's Port
            </th>
            <th>
                Device's CommKey
            </th>
            <th>
                SheetId
            </th>
            <th>
                SheetName
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var index = 0;
            foreach (var device in Model.Devices)
            {
                var color = index++ % 2 == 0 ? "#b4d3e0" : "#fff";
                foreach(var sheet in device.Sheets)
                {
                    <tr style="background-color: @color">
                        <td>@device.IP</td>
                        <td>@device.Port</td>
                        <td>@device.CommKey</td>
                        <td>@sheet.SheetName</td>
                        <td>@sheet.DocumentId</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@device.IP" class="btn btn-secondary">Edit</a>
                            <a asp-action="Details" asp-route-id="@device.IP" class="btn btn-info">Details</a>
                            <a id="delete" ip="@device.IP" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>

                }
            }
        }

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/devices/delete.js" asp-append-version="true">
       
    </script>
}
